<html>
<link rel="stylesheet" href="css/stylelogin.css">

<body>
  <div class="login-page">
    <div class="form">
      <form class="login-form">
        <input type="text" placeholder="username" id="userName" />
        <input type="password" placeholder="password" id="password" />
        <button type="submit" id="login">login</button>
      </form>
    </div>
  </div>

  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <script src="javascripts/login.js"></script>

</body>

</html>